{% load cms_tags extra_cms_tags %}

{{ object.attributes|add_class:'link-list-container' }}
{{ object.attributes|add_class:object.get_classes }}

{% if placeholder == 'megamenu' %}
    <div {{ object.attributes_str }}>
        <div class="padded">
        {% if object.title %}
            <div class="heading">{{ object.title }}</div>
        {% endif %}
        {% for plugin in object.child_plugin_instances %}
            {% render_plugin plugin %}
        {% endfor %}
        </div>
    </div>
{% else %}
    <div class="col-sm-3 col-xs-6">
        {% if object.title %}
            <div class="heading">{{ object.title }}</div>
        {% endif %}
        {% for plugin in object.child_plugin_instances %}
            {% render_plugin plugin %}
        {% endfor %}
    </div>

{% endif %}
